// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.fontClassG {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }